@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
/* Styles */
	.navbar-toggle{
	    color: #9dbddc;
		cursor: pointer;
		margin-top: 15px;
		margin-right: 20px;
		float: right;
		display: block;
	}
	.main-nav{
		padding: 0;
	}
	.navbar{
		/*border: 1px solid;*/
		cursor: pointer;
		float: left;
		width: 26px;
    	height: 20px;
    	padding: 10px 0;
    	margin: 34px 0 0;
	}
	.responsive{
	    width: 100%;
	    margin: auto;
	    margin-right: 0;
	    /*padding: 20px;*/
	}
	.responsive .main-nav li{
		list-style: none;
	    position: relative;
	    padding: 10px 0;
	    /*border: solid 1px #03132b; */
	    margin: 6px;
	}
	.responsive .main-nav li a {
		text-decoration: none;
		color: #3e4145;
	    background-color: transparent;
	    font-size: 16px;
	    font-weight: bold;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}